body {
    padding-top: 0px;
}

.show_data{
  margin: 0px 100px 100px 300px;
   border-style: solid;
    border-color: red;
}
nav {
     height: 80px;
     
}
.archive_button
{
   margin-top:10px;
}


.button {
     margin-left: 900px;
  	margin-top:-30px;
}

.navbar {
    background-color: #ffbb00;
}
.zemoso_tag {
     margin-left: 50px;
}

.zemoso_pic {
     margin-top: -41px;
}

.pic {
     margin-left: 1000px;
     margin-top: -41px;
}

