body {
    padding-top: 0px;
}

.show_data{
  margin: 0px 100px 100px 300px;
   border-style: solid;
    border-color: red;
}
nav {
     height: 80px;
     
}
.archive_button
{
   margin-top:10px;
}

.note_footer
{
    margin:10px 0px 15px 0px;
    padding-bottom:10px;
}

.button {
     margin-left: 900px;
  	margin-top:-30px;
}

.note_page_title {
    background-color: #ffbb00;
    height: 80px;
}
.zemoso_tag {
     margin-left: 50px;
}

.zemoso_pic {
     margin-top: -41px;
}

.pic {
     margin-left: 1000px;
     margin-top: -41px;
}

.note_class {
    background-color: white;
    border:  #e0e0e0 
    display:inline-block;
    word-wrap:break-word;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 33.3333%;
    display: inline-block;
    margin: 5px 5px 5px 5px;
  
    
}
  .reminder_logo{
            display:none;
        }
/*.delete_logo{*/
/*    margin-left: 160px*/
/*}*/

.modal-title {
    font-weight : bold;
    font-size : 16px;
    
}

.modal-body {
     word-wrap: break-word;
}

#add_note{
    border:2px solid  #e0e0e0;
}

#date_time_box {
    visibility: hidden;
}


.input-group {
    margin-bottom: 10px;
    width: 100%;
   }