@* * This template is called from the `index` template. This template * handles
the rendering of the page header and body tags. It takes * two arguments, a
`String` for the title of the page and an `Html` * object to insert into the
body of the page. *@  @(User_note_data_list: java.util.List[models.User_Data])(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
@* Here's where we render the page title `String`. *@
<title>title</title>

<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
<script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>

<!-- Import jquery , bootstrap and other libraries -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"
 type="text/javascript"></script>

<!-- Add application js and css files here-->
<script src="@routes.Assets.versioned("javascripts/script.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/user_data.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login_style.css")">


</head>
<body  style="background-color: #e0e0e0;">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-12">
    <div class="row">
     <div class="col-md-12 note_page_title">
       <div class="container-fluid">
    <div class="navbar-header">
      <div class="zemoso_tag"><h3> Zemoso Notes </h3></div>
      <div class="pic">
            <img width="42" height="42" class="ui" src="/assets/images/Notes2.png">
       </div>
        <div class="zemoso_pic"> <img width="42" height="42" class="ui" src="/assets/images/zemoso_image.gif"> </div>
    </div>
    </div>
     </div>
    </div>
    <div class="row">
     <div class="col-md-4"><div class="col-md-8">
        <a id="modal-261773" href="#modal-container-261773" role="button" class="btn" data-toggle="modal"></a>

        <div class="modal fade" id="modal-container-261773" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
         <!-- <div class="modal-content">
           <div class="modal-header">
            <input type="hidden" name="note_id" value="">
            <div class="col-md-12 column ui-sortable">
             <div class="input-group">
              <input type="text" aria-describedby="basic-addon1" placeholder="Title" class="form-control" id="note_title">
             </div>
            </div>
            <div class="modal-body">
             <div class="form-group">
              <textarea class="form-control" placeholder="Description" rows="5" id="note_description"></textarea>
             </div>
            </div>
            <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary" id="update_note">Save</button>
            </div>
           </div>

          </div>
          -->
          <div class="modal-content"> 
    <div class="modal-header"> 
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>         
<input type="hidden" name="note_id" value="">
        <div contenteditable="true" id="note_title" class="modal-title">this is the tile of the modal<br></div> 
    </div>     

    <div contenteditable="true" id="note_description" class="modal-body">this is the descriptonasdf<br><br>sdfsdf<br>sdfsdf<br>sdfsdf<br><br type="_moz"> 
      <div>
       
      </div>
    </div>     

    <div class="modal-footer" style="border-top-width: 0px;"> 
        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>         

        <button class="btn btn-primary" type="button" id="update_note">Save changes</button>         
    </div>     
</div>
         </div>

        </div>
       </div></div>
     <div class="col-md-8">
      <div class="row">
       <div class="col-md-8">
        <a id="modal-261772" href="#modal-container-261772" role="button" class="btn" data-toggle="modal"></a>

        <div class="modal fade" id="modal-container-261772" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
          <div class="modal-content"> 
    <div class="modal-header"> 
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>         
<input type="hidden" name="note_id" value="">
        <div contenteditable="true" id="note_title" class="modal-title">this is the tile of the modal<br></div> 
    </div>     

    <div contenteditable="true" id="note_description" class="modal-body">this is the descriptonasdf<br><br>sdfsdf<br>sdfsdf<br>sdfsdf<br><br type="_moz"> 
      <div>
       
      </div>
    </div>     

    <div class="modal-footer" style="border-top-width: 0px;"> 
        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>         

        <button class="btn btn-primary" type="button" id="note_submit">Save changes</button>         
    </div>     
</div>
         </div>

        </div>

        <div id="add_note">
         <h2>Take a note...</h2>
        </div>

       </div>
       <div class="col-md-4"></div>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-md-4">
         
   <button class="btn btn-default home_button" type="button">
     <span aria-hidden="true" class="glyphicon glyphicon-home"></span>
     <span>Home</span> 
   </button>
  <br> <button class="btn btn-default archive_button" type="button">
   <span aria-hidden="true" class="glyphicon glyphicon-inbox"></span>
  <span>Archive</span>
   </button>
</br>
 
     </div>
     <div class="col-md-8">
      <div class="row parent_note">
       @import java.lang.Long; var k=1L;
       <!--  for loop to print user data -->
     @for(index <- 0 until User_note_data_list.size){

	@{k= User_note_data_list(index).note_id }
	<div class="note_class note_@k" style="box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75); "id= "@k">
	<div class="on_click_note" id= "@k" >
								<div   style="font-weight:bold;  margin: 15px 0px 10px 0px; font-size:25px;" id="note_title"> @Html(User_note_data_list(index).title)
								    
								</div>
								<div   id="note_description" style="font-size:17px;">
				@Html(User_note_data_list(index).description)
			</div>
			</div>
			<div class="note_footer">
				<div class="col-md-3">
				
				 <span aria-hidden="true" class="glyphicon glyphicon-time"></span> 
				</div>
				<div class="col-md-3 archive_logo" id="@k">
				
				   <span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span> 
				</div>
				 
					<div class="col-md-3 delete_logo" id="@k" >
					     <span aria-hidden="true" class="glyphicon glyphicon-trash"></span> 
					</div>
					<div class="col-md-3"></div>
							
	</div>
	</div>
	
	<!--/////////////////////-->

}
        
        
        <!--  for loop ending -->
    
    <!--  for reminder clock -->
    
<div style="overflow:hidden;">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <div id="datetimepicker12"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: true
            });
        });
    </script>
</div>



<!--    end for reminder clock   -->
  
    
    
        
                      
          
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</body>
</html>
